.app-header {
    /* width: 100vh; */
    padding: 1vmin, 1rem;
    min-height: fit-content;
    max-height: 5vh;
    background-color: #282c34;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(16px + 1vmin);
    color: white;
  }
  
  .app-header h1 {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0 0.5rem;
  }

  .link-container {
    display: flex;
    flex-direction: column;
  }

  .links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .menu-link {
    display: flex;
    height: 100%;
    text-decoration: none;
  }

  .menu-link a {
    display: flex;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 1rem 1rem;
  }

  .menu-link a:hover {
    background-color: black;
  }